@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    border-radius: 5px;
}
html {
    font-family: Roboto;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
:root {
    --color-bg-primary: #dee7f8;
    --color-text-primary: rgb(37, 37, 37);
    --color-green: rgb(54, 153, 54);
}
.container {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.header {
    margin-bottom: 3rem;
}
.nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo {
    font-weight: bold;
    font-size: 1.25rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    color: var(--color-text-primary);
    text-decoration: none;
    width: max-content;
}
.logo__pool {
    color: var(--color-green);
}
.nav__link {
    text-decoration: none;
    /* text-wrap: nowrap; */
    color: var(--color-text-primary);
}
.calculator__container {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}
.calculator__inputs {
    display: flex;
    flex-direction: column;
}
.input {
    background-color: azure;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    min-height: 40px;
    width: 100%;
}
.calculator__inputs {
    display: flex;
    gap: 0.5rem;
}
.calculator__result {
    background-color: white;
    flex-grow: 1;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-green);
}
.about {
    margin-bottom: 3rem;
}
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.about__item {
    background-color: white;
    border-radius: 30%;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-wrap: balance;
    background-size: cover;
    background-image: url("../media/images/clouds/cloud_064.png");
}
.about__item:nth-child(1) {
    background-position: -250px;
}
.about__item:nth-child(2) {
    background-image: none;
}
.about__item:nth-child(3) {
    background-image: url("../media/images/clouds/cloud_040.png");
    background-position: -1rem;
}
.about__list {
    display: flex;
    gap: 1rem;
}
button {
    cursor: pointer;
}
.about__title {
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.subscribe-form__email {
    flex-grow: 1;
}
.subscribe-form {
    display: flex;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer {
    margin-top: 3rem;
}
.akcii__img {
    width: 100%;
    max-height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 1rem;
}
.akcii__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.akcii__name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.akcii__desc {
    margin-bottom: 1rem;
}
.akcii__item {
    display: flex;
    flex-direction: column;
}
.akcii__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.akcii__link {
    flex-grow: 1;
    display: flex;
    align-items: end;
}
.footer__container {
    padding: 1rem;
}
.space {
    flex-grow: 1;
}
.btn {
    display: block;
    width: max-content;
    border: none;
    padding: 0.5rem 1rem;
    min-height: 40px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
    text-transform: capitalize;
}
.search-number {
    margin-top: 1rem;
}
.search-btn {
    margin-top: 1rem;
}
.trips {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.trip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 0.5rem;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.results__booking {
    text-align: center;
}
.flex {
    display: flex;
}
.f-column {
    flex-direction: column;
}
.f-end {
    justify-content: end;
}
.trip__el {
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
.search-form {
    width: 600px;
    padding: 1rem;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.search__container {
    display: flex;
    justify-content: center;
}
.trip__cost {
    font-size: 1.5rem;
    color: var(--color-green);
}
.link {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    width: max-content;
    color: grey;
}
.trip__end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
}
.trip__action {
    grid-column: 2/3;
}
.table-wrap {
    width: 100%;
    overflow: auto;
}
.table {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}
.table__th {
    font-size: 0.8rem;
    color: grey;
    text-align: left;
}
.table__th {
    padding: 0.5rem 1rem;
}
.table__td {
    padding: 0.5rem 1rem;
}
.booking-trips {
    margin-bottom: 3rem;
}
.text-header {
    margin-bottom: 1rem;
    color: grey;
}
.passangers__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.label__text {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}
.passangers__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.management__header {
    margin-bottom: 2rem;
}
.management__main {
    margin-bottom: 2rem;
}
.management__footer {
    margin-bottom: 2rem;
}
.management__price {
    font-size: 1.5rem;
    color: var(--color-green);
}
.management__code {
    margin-bottom: 0.1rem;
}
.management__table {
    box-shadow: none;
}
.management__table1 {
    margin-bottom: 1rem;
}
.passanger__name {
    font-size: 1.5rem;
}
.passanger__header {
    margin-bottom: 0.5rem;
}
.passanger__footer {
    display: flex;
    gap: 1rem;
}
.passanger__name {
    margin-bottom: 0.2rem;
}
.passanger__birth-date {
    margin-bottom: 0.2rem;
}
.passanger {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.management__passangers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.choose-place__img {
    width: 100%;
    margin-bottom: 3rem;
}
.places {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.places__place {
    width: 50px;
    height: 50px;
    background-color: azure;
    cursor: pointer;
}
.places__place:hover {
    background-color: white;
}
.places__left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 1rem;
}
.places__right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 1rem;
}
.choose-place__header {
    text-align: center;
    font-size: 2rem;
}
.register-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
}
.register-page__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.register-page__action {
    grid-column: 2/3;
    margin-top: 2rem;
}
.register-page .input {
    width: 240px;
}
.f-center {
    justify-content: center;
}

.register-page__header {
    margin-bottom: 3rem;
}
.login__form {
    display: flex;
    flex-direction: column;
}
.profile__header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.profile__full-name {
    font-size: 1.5rem;
}
.passangers__add-user {
    margin-bottom: 0.5rem;
}
select {
    cursor: pointer;
}
input[type="radio"] {
    appearance: none;

    width: 1rem;
    height: 1rem;
    box-shadow: inset 0 0 0 0.2rem #e0e0e0;
    border-radius: 50%;
    transition: box-shadow 200ms, background-color 200ms;
    cursor: pointer;
    vertical-align: text-top;
}
input[type="radio"]::before {
    content: '';
    display: block;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    scale: 0;
    transition: scale 200ms;
}
input[type="radio"]:checked:before {
    scale: 0.3;
}
input[type="radio"]:checked {
    box-shadow: none;
    background-color: var(--color-green);
}
label {
    cursor: pointer;
}

@media (width < 800px) {
    .trips {
        grid-template-columns: 1fr;
    }
    .places {
        flex-direction: row;
    }
    .places__left, .places__right {
        grid-auto-flow: row;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .places__place {
        width: 120px;
        height: 120px;
    }
}
@media (width < 650px) {
    .about__item {
        font-size: 1.2rem;
        padding: 0.5rem;
        width: 150px;
        height: 150px;
    }
    .places__place {
        width: 100px;
        height: 100px;
    }
    
}

@media (width < 600px) {
    .header__nav {
        font-size: 1rem;
        flex-direction: column;
        gap: 0.2rem;
        text-decoration: underline;
        text-decoration-color: grey;
        text-align: end;
    }
    .nav {
        align-items: end;
    }
    .footer__nav {
        font-size: 1rem;
        flex-direction: column;
        gap: 0.2rem;
    }
    .management__passangers {
        gap: 1rem;
    }
    .form {
        grid-template-columns: 1fr;
    }
    .register-page__action {
        grid-column: 1 / 2;
    }
    .places__place {
        width: 100px;
        height: 100px;
    }
}
@media (width < 500px) {
    
    .about__item {
        font-size: 1.5rem;
        padding: 1rem;
        height: 250px;
        width: 250px;
    }
    .about__list {
        flex-direction: column;
    }
    .calculator__container {
        flex-direction: column;
    }
    .search-form {
        grid-template-columns: 1fr;
    }
    .akcii__list {
        grid-template-columns: 1fr;
    }
    .passangers__footer {
        justify-content: start;
    }
    .passangers__item {
        grid-template-columns: 1fr;
    }
    .management__passangers {
        grid-template-columns: 1fr;
    }
    .trip {
        grid-template-columns: 1fr;
    }
    .trip__action {
        grid-column: 1 / 2;
        align-items: start;
    }
    .places__place {
        width: 50px;
        height: 50px;
    }
}
